{% extends "base.html" %}
{% block content %}

<section class="panel">
  <h2 style="margin:0 0 8px;">Servicios</h2>


  {% if session.get("rol") != "admin" %}
    <div class="actions">
      <a class="btn success" href="{{ url_for('servicios_create') }}">+ Publicar servicio</a>
    </div>
  {% else %}
    <p class="help" style="margin:0;">
      Como administrador, no publicas servicios. Solo puedes moderar los servicios existentes desde el panel admin.
    </p>
  {% endif %}
</section>

<div class="grid">
  {% for s in servicios %}
  <div class="card">
    <h3>{{ s.titulo }}</h3>
    <p>{{ s.descripcion }}</p>

    <div class="meta">
      <span class="badge brand">{{ s.creditos_hora }} créditos/hora</span>
      <span class="badge">ID: {{ s.id }}</span>
    </div>

    <div class="actions">
      <a class="btn primary" href="{{ url_for('servicios_edit', id=s.id) }}">Editar</a>

      <form method="POST"
            action="{{ url_for('servicios_delete', id=s.id) }}"
            onsubmit="return confirm('¿Eliminar servicio?');"
            style="display:inline;">
        <button class="btn" type="submit">Eliminar</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
